/* Element Selectors */
html,
body{
    margin: 0;
    padding : 0;

    width: 100%;
    height: 100%;

    font-family: 'Segoe UI Light', sans-serif;

}

/*Class Selectors*/
.wrapper{
    width: 100%;
    height: 100%;
}

.element{
    width: 100%;
    height: 400px;
    float: left;
    margin-bottom: 20px;
}